In [48]:
import numpy as np
import pandas as pd

In [49]:
a = {
    'Grades':[1,2,3,4],
     'City':['Moscow','Saint-Pet','Moscow','Kaliningrad']
     
     
     }


data = pd.DataFrame(a)

In [50]:
data

   Grades         City
0       1       Moscow
1       2    Saint-Pet
2       3       Moscow
3       4  Kaliningrad

In [51]:
# Пример данных (вы можете заменить это реальными данными из Wikidata или других источников)
city_data = [
    {"city_name": "Санкт-Петербург", "english_name": "St. Petersburg",'food_type':'кофе с молоком'},
    {"city_name": "Санкт-Петербург", "english_name": "St. Petersburg",'food_type':'кофе с молоком'},
    {"city_name": "Москва", "english_name": "Moscow",'food_type':'кофе с сырком'},
    {"city_name": "Токио", "english_name": "Tokyo",'food_type':'напиток с кофеином с крендельком'},
    {"city_name": "Токио", "english_name": "Tokyo",'food_type':'суши.в'},
    {"city_name": "Токио", "english_name": "Tokyo",'food_type':'латте'},
    {"city_name": "Франция", "english_name": "Franch",'food_type':'кофе с круасаном'},
    # Добавьте больше пар городов здесь
]

# Создаем DataFrame из примерных данных
df = pd.DataFrame(city_data)
df

         city_name    english_name                         food_type
0  Санкт-Петербург  St. Petersburg                    кофе с молоком
1  Санкт-Петербург  St. Petersburg                    кофе с молоком
2           Москва          Moscow                     кофе с сырком
3            Токио           Tokyo  напиток с кофеином с крендельком
4            Токио           Tokyo                            суши.в
5            Токио           Tokyo                             латте
6          Франция          Franch                  кофе с круасаном

In [52]:
l=['кофе','лат']
exclude_words = ['кофеин']
# df[~df['food_type'].str.contains('|'.join(exclude_words))].str.contains('|'.join(l))
f_df = df[~df['food_type'].str.contains('|'.join(exclude_words))]

# Проверяем, содержит ли каждая строка слово 'кофе'
result = f_df[f_df['food_type'].str.contains('|'.join(l))]
result['food_type'] = result['food_type'].str.replace('кофе', 'чашка кофе')

result

C:\Users\Katarsis\AppData\Local\Temp\ipykernel_3972\158911669.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['food_type'] = result['food_type'].str.replace('кофе', 'чашка кофе')

         city_name    english_name               food_type
0  Санкт-Петербург  St. Petersburg    чашка кофе с молоком
1  Санкт-Петербург  St. Petersburg    чашка кофе с молоком
2           Москва          Moscow     чашка кофе с сырком
5            Токио           Tokyo                   латте
6          Франция          Franch  чашка кофе с круасаном

In [53]:
len(result)

5

In [54]:
unique_food_types = set(result['food_type'])
unique_food_types

{'латте',
 'чашка кофе с круасаном',
 'чашка кофе с молоком',
 'чашка кофе с сырком'}

In [55]:
my_string = "hello"
unique_characters = set(my_string)
print(unique_characters)  # Вывод: {'h', 'e', 'o', 'l'}

{'o', 'h', 'e', 'l'}